@model IEnumerable<project5_6.Models.Laptop>

@{
    ViewData["Title"] = "Order list";
}

<h2>Restock list</h2>
<a class="btn btn-success" asp-action="Statistics">Back</a>
<hr />
<div class="row">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Brand
                </th>
                <th>
                    Name
                </th>
                <th>
                    Stock
                </th>
                <th>
                    Price
                </th>
                <th>
                    <!-- Empty -->
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.supply == 0)
                {
                    <tr class="danger">
                        <td>
                            <img style="width:70;height:50px" src="@Url.Content("~/images/" + item.image_id + ".jpg")" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.brand)
                        </td>
                        <td>
                            <a asp-controller="ClickedLaptop" asp-action="" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.model_name)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.supply)
                        </td>
                        <td>
                            €@Html.DisplayFor(modelItem => item.price),-
                        </td>
                        <td>
                            <a class="btn btn-info" href="#">Order new</a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            <img style="width:70;height:50px" src="@Url.Content("~/images/" + item.image_id + ".jpg")" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.model_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.supply)
                        </td>
                        <td>
                            €@Html.DisplayFor(modelItem => item.price),-
                        </td>
                        <td>
                            <a class="btn btn-info" href="#">Order new</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>