@{
    ViewData["Title"] = "Statistics";
}

<h2>Products Added</h2>
<a class="btn btn-success" asp-action="Statistics">Back</a>
<hr />
<div class="row">
    <p class="text-right">
        @if (ViewBag.CurrentBrand == "All")
        {
            <a class="btn btn-primary disabled" href="../All/@ViewBag.CurrentYear">All</a>
        }
        else
        {
            <a class="btn btn-primary" href="../All/@ViewBag.CurrentYear">All</a>
        }

        @foreach (var brand in ViewBag.Brand)
        {
            if (brand == ViewBag.CurrentBrand)
            {
                <a class="btn btn-primary disabled" href="../@brand/@ViewBag.CurrentYear">@brand</a>
            }
            else
            {
                <a class="btn btn-primary" href="../@brand/@ViewBag.CurrentYear">@brand</a>
            }
        }
    </p>
    <p class="text-right">
        @for (int i = 2016; i < 2019; i++)
        {
            if (i == ViewBag.CurrentYear)
            {
                <a class="btn btn-success disabled" href="../@ViewBag.CurrentBrand/@i">@i</a>
            }
            else
            {
                <a class="btn btn-success" href="../@ViewBag.CurrentBrand/@i">@i</a>
            }
        }
    </p>
</div>

<div class="row">
@(Html.ShieldChart()
    .Name("chart")
    .Tooltip(tooltip => tooltip.AxisMarkers(axisMarkers => axisMarkers
        .Enabled(true)
        .Mode(ShieldUI.AspNetCore.Mvc.Chart.TooltipAxisMarkerMode.XY)
        .Width(1)
        .ZIndex(3)))
    .Theme("light")
    .PrimaryHeader(header => header.Text(ViewBag.CurrentBrand))
    .Export(false)
    .AxisX(axis => axis.CategoricalValues(
        "Jan", "Feb", "Mrt", "Apr", "Mei", 
        "Jun", "Jul", "Aug", "Sep", "Okt", 
        "Nov", "Dec"
    ))
    .DataSeries(series =>
        series.Bar()
              .Name("Products")
              .Data(new object[] { 
                  ViewBag.AmountAdded[0], ViewBag.AmountAdded[1], ViewBag.AmountAdded[2], 
                  ViewBag.AmountAdded[3], ViewBag.AmountAdded[4], ViewBag.AmountAdded[5],  
                  ViewBag.AmountAdded[6], ViewBag.AmountAdded[7], ViewBag.AmountAdded[8], 
                  ViewBag.AmountAdded[9], ViewBag.AmountAdded[10], ViewBag.AmountAdded[11]
              })
    )
)
</div>