
@model IEnumerable<project5_6.Models.Laptop>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "All Products";
}
<div class="row" style="padding-top:20px;">
    @using (Html.BeginForm()) {<p class="text-center">@Html.TextBox("SearchString") <input class="btn btn-primary" type="submit" value="Search" /></p>}        
    <hr />
</div>
<div class="row">
<div class="col-md-2">
<div class="col-md-2 affix">
    <form class="form-horizontal">
        <div class="form-group">
            @using (Html.BeginForm()) {
            <h5>Brand</h5>
            @Html.DropDownList("brand", new SelectList(ViewBag.Laptop), string.Empty)
            <br>
            <h5>Processor</h5>
            @Html.DropDownList("processor", new SelectList(ViewBag.processor), string.Empty)
            <br>
            <h5>Screen Size</h5>
            @Html.DropDownList("screen_size", new SelectList(ViewBag.screen_size), string.Empty)
            <br>
            <h5>Purpose</h5>
            @Html.DropDownList("recommended_purpose", new SelectList(ViewBag.recommended_purpose), string.Empty)
            <br>
            <h5>RAM</h5>
            @Html.DropDownList("ram", new SelectList(ViewBag.ram), string.Empty)
            <br>
            <h5>Storage Size</h5>
            @Html.DropDownList("main_storage", new SelectList(ViewBag.main_storage), string.Empty)
            <br>
            <h5>Sort by</h5>
            <select name="sortby">
                <option value=""></option>
                <option value="">Voorraad</option>
                <option value="name_asc">Name A-Z</option>
                <option value="name_des">Name Z-A</option>
                <option value="price_asc">Price ascending</option>
                <option value="price_des">Price descending</option>
            </select>
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="Filter"/>
            <input class="btn btn-default" type="reset" value="Reset"/>
            }
        </div>
    </form>
</div>
</div>
<div class="col-md-10">
    @foreach (var item in Model)
    {
        <div class="col-md-4">                
            <div class="col-md-12 product-column thumbnail">
                <p class="text-center">
                    <a asp-controller="ClickedLaptop" name="submit" asp-action="" asp-route-id="@item.Id">
                        <img class="img-responsive" style="width:280;height:240px" src="@Url.Content("~/images/" + item.image_id + ".jpg")" />
                    </a>
                </p>
                <h4 class="text-primary text-center" style="margin-top:-20px;">
                    <a asp-controller="ClickedLaptop" name="submit" asp-action="" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.brand) @Html.DisplayFor(modelItem => item.model_name)
                    </a>
                </h4>
                <p>
                    <ul>
                        <li>@Html.DisplayFor(modelItem => item.processor)</li>
                        <li>@Html.DisplayFor(modelItem => item.main_storage) SSD</li>
                        <li>@Html.DisplayFor(modelItem => item.graphic_card)</li>
                    </ul>
                <h4 class="text-succes text-right">
                    <strong>
                        €@Html.DisplayFor(modelItem => item.price),-
                    </strong>
                </h4>
                <div class="row">
                    <div class="col-md-6">
                        @if (User.IsInRole("Administrator"))
                        {
                            <a class="btn btn-default glyphicon glyphicon-edit" asp-area="" asp-controller="Laptop" asp-action="Edit" asp-route-id="@item.Id"></a>
                        }
                    </div>
                    <div class="col-md-6">
                        <p class="text-right">
                            @if (item.supply != 0)
                            {
                                @Html.ActionLink("","Create2",new {image_id = @item.image_id, brand = @item.brand, model_name = @item.model_name, price = @item.price, user_id = @UserManager.GetUserId(User)},new { @class = "btn btn-success btn-large glyphicon glyphicon-shopping-cart" })
                            }
                            else
                            {
                                @Html.ActionLink("","Create2",new {image_id = @item.image_id, brand = @item.brand, model_name = @item.model_name, price = @item.price, user_id = @UserManager.GetUserId(User)},new { @class = "btn btn-danger btn-large glyphicon glyphicon-remove disabled" })
                            }
                            @Html.ActionLink("","Create3",new {image_id = @item.image_id, brand = @item.brand, model_name = @item.model_name, price = @item.price, user_id = @UserManager.GetUserId(User)},new { @class = "btn btn-primary btn-large glyphicon glyphicon-heart" })<br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
</div>