@model IEnumerable<project5_6.Models.Laptop>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sphere</title>
@{
    ViewData["Title"] = "Index";
}
   <h1><center>Welcome to Sphere</center></h1>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>

<div class ="container-fluid">
    <div class="row"></div>
        <div class="col-lg-9">
            <div class="affix" style="left:50px;">
                    <form class="form-horizontal">
                        <div class="form-group" >
                            @using (Html.BeginForm()) {
                            <h5>Brand</h5>
                            @Html.DropDownList("laptop", new SelectList(ViewBag.Laptop), string.Empty)
                            <br>
                            <h5>Processor</h5>
                            @Html.DropDownList("processor", new SelectList(ViewBag.processor), string.Empty)
                            <br>
							<h5>Screen Size</h5>
                            @Html.DropDownList("screen_size", new SelectList(ViewBag.screen_size), string.Empty)
                            <br>
                            <h5>Purpose</h5>
                            @Html.DropDownList("recommended_purpose", new SelectList(ViewBag.recommended_purpose), string.Empty)
                            <br>
							<h5>RAM</h5>
                            @Html.DropDownList("ram", new SelectList(ViewBag.ram), string.Empty)
                            <br>
                            <h5>Storage Size</h5>
                            @Html.DropDownList("main_storage", new SelectList(ViewBag.main_storage), string.Empty)
                            <br>
                            <br>
                            <br>
                            <input type="submit" value="Filter"/>
                            }
                        </div>
                    </form>
                </div>
            </div>
     
        
@using (Html.BeginForm()) {<p><center>@Html.TextBox("SearchString") <input type="submit" value="Search" /></center></p>}        
<hr>
@foreach (var item in Model) {
    
    <div class="col-md-4">
        <div class="product-item">
            <div class="thumbnail">
                <a asp-controller="ClickedLaptop" name="submit" asp-action="" asp-route-id="@item.Id"><img src="@Url.Content("~/images/" + item.image_id + ".jpg")" style="width:280;height:240px" class="img-responsive"></a>
                <br>
                <table class="table">
                    <tbody>
                    <tr class="techSpecRow"><td class="techSpecTD1"></td><td class="techSpecTD2">
                        &bull; @Html.DisplayFor(modelItem => item.brand) @Html.DisplayFor(modelItem => item.model_name)
                        
                        <br>
                        &bull; @Html.DisplayFor(modelItem => item.processor)<br>
                        &bull; @Html.DisplayFor(modelItem => item.main_storage)GB @Html.DisplayFor(modelItem => item.main_storage_type)<br>
                        &bull; @Html.DisplayFor(modelItem => item.graphic_card)<br><br>
                        
                        &euro; @Html.DisplayFor(modelItem => item.price) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        @Html.ActionLink("Add to cart","Create2",new {image_id = @item.image_id, brand = @item.brand, model_name = @item.model_name, price = @item.price, user_id = @UserManager.GetUserId(User)})
                    |   @Html.ActionLink("Add to wishlist","Create3",new {image_id = @item.image_id, brand = @item.brand, model_name = @item.model_name, price = @item.price, user_id = @UserManager.GetUserId(User)})
                    		<br>
                            <br>
                            @if (User.IsInRole("Administrator")){
                            <li><a asp-area="" asp-controller="Laptop" asp-action="Edit" asp-route-id="@item.Id">Edit product</a></li>}
                    </tbody>
				</table>
            </div>
        </div>
    </div> }
    </div>
</div>
</body>